.navContainer{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.navWrapper{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.logo{
    font-weight: 500;
    padding-left: 10px;
    font-size: 24px;
    color: #febb02;
}

.navItems{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navItems>button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: skyblue;
    color: white;
    cursor: pointer;
}

.navItemText{
    font-weight: 500;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #febb02;
}

@media screen and (max-width:524px){
    .navItems{
        gap: 5px;
    }

    .navItemText{
        font-size: 14px;
        padding: 5px;
        border-radius: 3px;
    }
}


@media screen and (max-width:386px){
    .navItems{
        gap: 3px;
    }

    .navItemText{
        font-size: 12px;
        padding: 5px;
        border-radius: 3px;
    }
}