.footerContainer{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    padding: 20px 0px;
    color: white;
}

.footerText{
    font-size: 18px;
    font-weight: 600;
}

